/*----- Medias Queries -----*/
@media (max-width:50rem){
    .visible{
        display: none !important;
        visibility: hidden !important;
    }
    
    .hidden{
        display: block !important;
        visibility: visible !important;
    }

    
    .logo-slogan{
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        margin: 0 auto;
    }
    .logo-slogan img{
        width: 100%;
        transform: rotate(0);
    }
    .logo-slogan img:hover{
        transform: scale(1);
    }
    .logo-slogan span{
        width: 90%;
        font-size: 25px;
    }
    
    .text-home{
        align-items: center;
        margin: 0 auto;
        padding: 30px;
        gap: 30px;
        color: #FFFFFF;
    }


    .nav-toggle{
        display: block;
        margin-right: 30px;
    }

    .nav-logo{
        margin: 10px auto !important;
    }

    nav{
        position: absolute;
        top: -100vh;
        display: flex;
        flex-direction: column;
        background: var(--lightgrey);
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 100px);
        width: 100%;
        z-index: -1;
        transition: .6s;
    }

    nav .nav-list{
        flex-direction: column;
        margin: 0 auto;
    }

    .nav-link a{
        color: #000000 !important;
        font-weight: bold;
    }

    .active{
        top: 100px;
    }

    .tittle h1{
        font-size: 55px;
    }

    .company{
        flex-direction: column !important;
        justify-content: center;
        gap: 70px;
    }
    .company article{
        width: 90%;
        margin: 0 auto;
    }

    #contact{
        flex-direction: column !important;
        justify-content: center !important;
        margin: 0 auto !important;
        gap: 50px;
    }

    .location{
        width: 90%;
    }
    .location iframe{
        width: 90%;
    }

    form{
        width: 90%;
        margin-bottom: 20px;
    }
    
}

@media screen and (min-width: 801px) and (max-width: 1100px){
    .visible{
        display: none !important;
        visibility: hidden !important;
    }
    
    .hidden{
        display: block !important;
        visibility: visible !important;
    }

    #contact{
        flex-direction: column !important;
        justify-content: center !important;
        margin: 0 auto !important;
        gap: 50px;
    }

    .location{
        width: 90%;
    }
    .location iframe{
        width: 90%;
    }

    form{
        width: 90%;
        margin-bottom: 20px;
    }

}
