@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dosis:wght@200;500&family=Gloria+Hallelujah&family=Kaushan+Script&family=Shadows+Into+Light&family=Signika+Negative:wght@300;700&display=swap');

/* 
font-family: 'Caveat', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Signika Negative', sans-serif; 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    color: #000000;
    font-family: 'Dosis', sans-serif;
}

:root{
    --orange: #E67E37;
    --rose: #F09F8E;
    --pink: #E2609E;
    --white: #F2EEEB;
    --blue: #3468B1;
    --lightgrey: #B2D5CE;
    --grey: #06685B;
    --yellow: #E4DB3E;
    --green: #03685A;
    --lightpink: #E8A1B3;
}

.visible{
    display: flex !important;
    visibility: visible !important;
}

.hidden{
    display: none !important;
    visibility: hidden !important;
}

/*---- Float Buttons ----*/

.btnWsp{
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 1500 !important;
}

.up{
    position: fixed;
    line-height: 64px;
    bottom: 100px;
    right: 37px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
}

.store{
    position: fixed;
    line-height: 64px;
    top: 170px;
    right: -240px;
    background-color: var(--yellow);
    border-radius: 50px;
    padding: 0px 16px;
    text-align: center;
    width: 300px;
    font-size: 25px;
    z-index: 1800;
    cursor: pointer;
    transition: all .5s;
}
.store a{
    color: var(--yellow);
}
.store i{
    color: var(--pink);
    margin-right: 90px;
    transition: all .5s;
}
.store:hover{
    transform: translate(-245px, 0);
    color: var(--yellow);
    background-color: var(--pink);
    transition: ease-in-out .5s;
}
.store:hover i, .store:hover a{
    color: var(--yellow);
    background-color: var(--pink);
    transition: ease-in-out .5s;
    transform: rotate(360deg);
}

/*---- Float Buttons ----*/

.repair{
    display: flex;
    margin: 0 auto;
    width: 80%;
    margin: 130px auto 30px auto;
}
.banner{
    max-width: 1300px;
    width: 100%;
    height: 50vh;
}

/*---- navbar style ----*/
header {
    background: var(--lightgrey);
    height: 100px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1500 !important;
}

.nav-logo{
    cursor: pointer;
}
.nav-logo img{
    width: 25%;
}

.container-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: -15px auto;   
    max-width: 1200px;
    line-height: 80px;
    z-index: 1000;
}

.nav-list{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1000px;
    z-index: 1000;
}

.nav-link a{
    color: #000000;
    /* font-weight: bold; */
    font-size: 20px;
    letter-spacing: 3px;
    transition: .3s;
}

.nav-link a:hover{
    color: var(--orange);
}

.nav-toggle{
    color: #000000;
    font-size: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .3s;
    display: none;
}

.rotate{
    transform: rotate(180deg);
}

/*---- Navbar Style ----*/

section{
    margin: 120px auto;
}

.tittle{
    margin: 120px auto 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tittle h1{
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: bold;
    font-size: 65px;
}

/*---- Company Style ----*/

.company{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}
.company article{
    width: 50%;
}

/*---- Company Style ----*/


/*---- Products Style ----*/
.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.img-products{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.img-products img{
    width: 30%;
    height: 40vh;
    border: 4px solid var(--pink);
    border-radius: 16px;
}
.img-products img:hover{
    transform: scale(1.2);
    transition: all .5s;
    cursor: pointer;
}
/*---- Products Style ----*/



/*---- Contact Style ----*/
#contact{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
}

.location{
    width: 45%;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 45%;
}

.label{
    display: flex;
    align-items: center;
    gap: 10px;
}
.label img{
    background: var(--yellow);
    border-radius: 5px;
    padding: 1%;
}
.label input{
    width: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px var(--pink);
    border: none !important;
    padding: 1%;
}

form textarea{
    width: 100%;
    height: 120px;
    box-shadow: 3px 3px var(--pink);
    padding: 1%;
}

form input::placeholder, textarea::placeholder{
    color: var(--orange);
    font-weight: 500;
}

form button{
    display: flex;
    padding: 2%;
    border-radius: 8px;
    background: var(--yellow);
    color: #000000;
    border: none !important;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
}


/*---- Contact Style ----*/



/*---- Footer Style ----*/


footer{
    background-color: #b2d5ced2;
}
.copyright{
    background-color: var(--lightgrey);
    display: flex;
    justify-content: center;
    gap: 10px;
}
.copyright a, .copyright p{
    color: #000000 !important;

}
.btn i{
    color: #000000 !important;
}

/*---- Footer Style ----*/
